---
layout: page
title: Programma
---

<div class="row">
  {% for item in site.data.programma.schedule %}
  <div id="{{item.date}}" class="col s12">
    <br>
    <h5>{{ item.day_ex }}</h5>
    <h5><b>{{ item.short_descr }}</b></h5>
    <table>
      <thread>
        <tr>
          <th data-field="time">Orario</th>
          <th data-field="who"></th>
          <th data-field="what" style="text-align:center; width:45%"></th>
        </tr>
      </thread>
      <tbody>
        {% for act in item.activity %}
        {% assign bg = "rgba(0,0,0,0)"%}
        {% assign fg = "black" %}
        <td style="background-color:{{bg}}">{{ act.hour }}</td>
        <td style="background-color:{{bg}}">
          {% if act.id %}<a href="{{site.url}}/{{act.id}}" target='_blank'>{% endif %}
            <b>{{ act.who }}</b>
            {% if act.id %}</a>{% endif %}
        </td>
        <td style="background-color:{{bg}}; color:{{tc}}; text-align:center">{{ act.descr }}</td>
        {% if act.id != nil %}
        {% else %}
        <td style="background-color:{{bg}}"></td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endfor %}

</div>


<p>Il programma della mattina si svolgerà in <b>via Giovanni Pascoli, 53, all'auditorium Casa dello Studente.</b></p>
<p>Per la sera del 15 settembre, alle 19:15 vi sarà il concerto di Brahms presso l'<b>Aula Magna dell'Università di Milano in via Festa del Perdono, 7</b>. A seguire, vi sarà la <b>cena a buffet</b>. Essendo un evento organizzato dalla Società Italiana di Fisica, vi raccomandiamo la <u>puntualità</u> e un<u> abbigliamento adatto</u>.</p>
<p>Diversamente da quanto anticipato, per la sera del 14 settembre non è previsto alcun evento AISF e Young Minds per evitare sovrapposizioni con il programma sociale della Società Italiana di Fisica.</p>